
@media (max-width: 882px) {
.vraifo {
display: none;
}
}

@media (max-width: 882px) {
.proposition {
margin: 0 !important;
}
}

@media (max-width: 882px) {
.title {
font-size: 3rem;
text-shadow: 1px 0 #232931;
}
}


body {font-family: 'Ubuntu', sans-serif;
font-size: 1.7rem;
background-color: #adeecf;
text-align: center;}

h1 {
font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;

}

a {color: inherit;}
a:hover {color: inherit;
text-decoration: none}

img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.vrai:active {content: url("images/thumbuppress.png")}

.faux:active {content: url("images/thumbdownpress.png")}

.rond {
margin: auto;
width: 48px;
height: 48px;
border-radius: 50%;}

.rondlivre {
margin: auto;
width: 30px;
height: 30px;
border-radius: 50%;
}
.fas {
margin: auto;
padding-left: 3px;}

.btn {margin-bottom: 20px;}

.reponse { width: 300px;
height: 200px;
margin-bottom: 20px;
radius: 0;}

.proposition {display: inline-block;
margin: 100px 50px 0 50px}
.proposition:hover {cursor: pointer;}
.fa-volume-up:hover {cursor: pointer;}


.carousel-control-next-icon
{background-image : none;}

.container-fluid {padding: 3% 15%;}


.carousel-item {padding: 7% 15%;}
